h1{color:rgb(90, 88, 88);}
h2{color: rgb(95, 94, 94);}
h3{color: rgb(95, 94, 94);}
html{background-color: rgb(248, 236, 238);}
body{
    background: url();
    background-repeat: no-repeat;
    background-size: auto;
}